format_version: 3
pipelines:
{{- range $pipeline := .Pipelines }}
  {{$pipeline.Name}}-build:
{{- if eq $pipeline.Type "maven" }}
    {{ template "maven" $pipeline }}
{{- else if eq $pipeline.Type "dockerfile" }}
    {{ template "dockerfile" $pipeline }}
{{ else }}
    # Unknown pipeline type '{{ $pipeline.Type }}'!
{{ end }}
  {{ template "deploy" $pipeline }}
{{ end }}