--
format_version: 3
pipelines:
  {{.Pipeline.Name}}-deploy-dev:
    group: wip-paul
    label_template: ${service}
    lock_behavior: none
    display_order: -1
    materials:
      service:
        ignore_for_scheduling: false
        pipeline: "{{.Pipeline.Name}}-build"
        stage: docker
      git:
        git: {{.Pipeline.HelmGit.URL}}
        shallow_clone: false
        auto_update: true
        branch: {{.Pipeline.HelmGit.Branch}}
        destination: build
    stages:
    - deploy:
        fetch_materials: true
        keep_artifacts: false
        clean_workspace: false
        approval:
          type: success
          allow_only_on_success: false
        jobs:
          helm:
            timeout: 0
            tasks:
            - exec:
                command: /bin/bash
                arguments:
                - -c
                - 'docker run --rm -v $PWD:/build -v /home/go/#{K8S_CFG}:/opt/kubeconfig -e KUBECONFIG="/opt/kubeconfig" --entrypoint /bin/bash dtzar/helm-kubectl:2.14.3 -c "helm upgrade --install --atomic --wait --timeout=120 --namespace=#{NAMESPACE} --values /build/#{CHARTPATH}values.#{ENVIRONMENT}.yaml --set=image.tag=${GO_PIPELINE_LABEL} #{SERVICE_NAME} /build/#{CHARTPATH}"'
                working_directory: build
                run_if: passed
    - bump:
        fetch_materials: true
        keep_artifacts: false
        clean_workspace: false
        approval:
          type: success
          allow_only_on_success: false
        jobs:
          helm:
            timeout: 0
            tasks:
            - exec:
                command: /bin/bash
                arguments:
                - -c
                - 'docker pull #{DOCKER_IMAGE}:${GO_PIPELINE_LABEL} &&
                  docker tag #{DOCKER_IMAGE}:${GO_PIPELINE_LABEL} #{DOCKER_IMAGE}:latest &&
                  docker push #{DOCKER_IMAGE}:latest'
                working_directory: build
                run_if: passed
    - promote:
        fetch_materials: true
        keep_artifacts: false
        clean_workspace: false
        approval:
          type: manual
          allow_only_on_success: true
        jobs:
          helm:
            timeout: 0
            tasks:
            - exec:
                command: /bin/sh
                arguments:
                - -c
                - echo 'manually promoted on $(date)'
                working_directory: build
                run_if: passed
    parameters:
      ENVIRONMENT: dev
      NAMESPACE: ubirch-dev
      CHARTPATH: web-ui/
      K8S_CFG: ubirchDevconfig.conf
      DOCKER_REPO: ubirch
      SERVICE_NAME: web-ui
      DOCKER_IMAGE: {{.Pipeline.DockerImage}}